body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:46px;
  top:63px;
  width:19px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  visibility:hidden;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:30px;
  top:38px;
  width:340px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:89px;
  width:290px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:31px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:140px;
  width:240px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
