body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:852px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:250px;
  width:100px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:140px;
  top:190px;
  width:70px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u3 {
  position:absolute;
  left:220px;
  top:180px;
  width:100px;
  height:30px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:140px;
  top:260px;
  width:70px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u6 {
  position:absolute;
  left:400px;
  top:150px;
  width:300px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:330px;
  top:160px;
  width:70px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u9 {
  position:absolute;
  left:330px;
  top:260px;
  width:70px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u10 {
  position:absolute;
  left:400px;
  top:200px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:220px;
  top:250px;
  width:100px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:330px;
  top:210px;
  width:70px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u15 {
  position:absolute;
  left:400px;
  top:250px;
  width:100px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:615px;
  top:250px;
  width:70px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u18 {
  position:absolute;
  left:627px;
  top:325px;
  width:70px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u19 {
  position:absolute;
  left:707px;
  top:315px;
  width:100px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:752px;
  top:345px;
  width:10px;
  height:30px;
}
#u21_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u21_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u21_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
#u22 {
  position:absolute;
  left:752px;
  top:375px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:140px;
  top:310px;
  width:70px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u25 {
  position:absolute;
  left:220px;
  top:300px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:160px;
  top:250px;
  width:60px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:140px;
  top:295px;
  width:70px;
  height:25px;
  color:#990099;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:635px;
  top:310px;
  width:72px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:500px;
  top:260px;
  width:40px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u34 {
  position:absolute;
  left:540px;
  top:250px;
  width:75px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:615px;
  top:235px;
  width:80px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#990099;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:572px;
  top:280px;
  width:10px;
  height:30px;
}
#u38_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u38_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u38_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
#u39 {
  position:absolute;
  left:527px;
  top:310px;
  width:100px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:685px;
  top:235px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:572px;
  top:340px;
  width:10px;
  height:30px;
}
#u43_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u43_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u43_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
#u44 {
  position:absolute;
  left:560px;
  top:370px;
  width:100px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:582px;
  top:345px;
  width:88px;
  height:18px;
  color:#990099;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:338px;
  top:280px;
  width:152px;
  height:55px;
  color:#FF0000;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:55px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
