body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:250px;
  width:100px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:100px;
  width:100px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:140px;
  top:260px;
  width:70px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u5 {
  position:absolute;
  left:220px;
  top:70px;
  width:300px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:150px;
  top:80px;
  width:60px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u8 {
  position:absolute;
  left:320px;
  top:260px;
  width:70px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u9 {
  position:absolute;
  left:220px;
  top:120px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:220px;
  top:250px;
  width:100px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:150px;
  top:130px;
  width:60px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u14 {
  position:absolute;
  left:400px;
  top:254px;
  width:100px;
  height:22px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:85px;
  top:343px;
  width:70px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u17 {
  position:absolute;
  left:165px;
  top:333px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:160px;
  top:250px;
  width:60px;
  height:20px;
  color:#009900;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:99px;
  top:328px;
  width:70px;
  height:25px;
  color:#990099;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:500px;
  top:260px;
  width:82px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:65px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:82px;
  height:1px;
}
#u24 {
  position:absolute;
  left:576px;
  top:265px;
  width:10px;
  height:36px;
}
#u24_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u24_end {
  position:absolute;
  left:-5px;
  top:19px;
  width:20px;
  height:18px;
}
#u24_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:36px;
}
#u25 {
  position:absolute;
  left:527px;
  top:310px;
  width:100px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:534px;
  top:340px;
  width:10px;
  height:80px;
}
#u27_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u27_end {
  position:absolute;
  left:-5px;
  top:63px;
  width:20px;
  height:18px;
}
#u27_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:80px;
}
#u28 {
  position:absolute;
  left:520px;
  top:430px;
  width:100px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:539px;
  top:376px;
  width:88px;
  height:18px;
  color:#990099;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:627px;
  top:320px;
  width:186px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:169px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:186px;
  height:1px;
}
#u33 {
  position:absolute;
  left:823px;
  top:270px;
  width:10px;
  height:120px;
}
#u33_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u33_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u33_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u34 {
  position:absolute;
  left:829px;
  top:264px;
  width:71px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:54px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  height:1px;
}
#u35 {
  position:absolute;
  left:829px;
  top:383px;
  width:71px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:54px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  height:1px;
}
#u36 {
  position:absolute;
  left:653px;
  top:305px;
  width:53px;
  height:18px;
  color:#0033CC;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:910px;
  top:254px;
  width:100px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:910px;
  top:373px;
  width:100px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:80px;
  top:280px;
  width:10px;
  height:70px;
}
#u42_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u42_end {
  position:absolute;
  left:-5px;
  top:53px;
  width:20px;
  height:18px;
}
#u42_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:70px;
}
#u43 {
  position:absolute;
  left:140px;
  top:110px;
  width:10px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:-7px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  height:1px;
}
#u44 {
  position:absolute;
  left:145px;
  top:87px;
  width:10px;
  height:47px;
}
#u44_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u44_end {
  position:absolute;
  left:-5px;
  top:30px;
  width:20px;
  height:18px;
}
#u44_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:47px;
}
#u45 {
  position:absolute;
  left:210px;
  top:78px;
  width:9px;
  height:15px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:210px;
  top:128px;
  width:9px;
  height:15px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:950px;
  top:284px;
  width:10px;
  height:79px;
}
#u49_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u49_end {
  position:absolute;
  left:-5px;
  top:62px;
  width:20px;
  height:18px;
}
#u49_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:79px;
}
#u50 {
  position:absolute;
  left:951px;
  top:358px;
  width:10px;
  height:15px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:960px;
  top:316px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC33CC;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:1010px;
  top:383px;
  width:80px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  height:1px;
}
#u55 {
  position:absolute;
  left:1030px;
  top:368px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:1088px;
  top:381px;
  width:12px;
  height:15px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1100px;
  top:374px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1200px;
  top:386px;
  width:70px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u62 {
  position:absolute;
  left:1264px;
  top:350px;
  width:10px;
  height:80px;
}
#u62_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u62_end {
  position:absolute;
  left:-5px;
  top:63px;
  width:20px;
  height:18px;
}
#u62_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:80px;
}
#u63 {
  position:absolute;
  left:1269px;
  top:344px;
  width:93px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:76px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:93px;
  height:1px;
}
#u64 {
  position:absolute;
  left:1269px;
  top:424px;
  width:93px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:76px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:93px;
  height:1px;
}
#u65 {
  position:absolute;
  left:1372px;
  top:334px;
  width:138px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1372px;
  top:414px;
  width:100px;
  height:30px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1361px;
  top:342px;
  width:32px;
  height:15px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1362px;
  top:422px;
  width:32px;
  height:15px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1410px;
  top:364px;
  width:10px;
  height:40px;
}
#u73_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u73_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u73_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u74 {
  position:absolute;
  left:1411px;
  top:399px;
  width:10px;
  height:15px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:1422px;
  top:376px;
  width:95px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC33CC;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1472px;
  top:424px;
  width:78px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:61px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:5px;
  width:78px;
  height:1px;
}
#u79 {
  position:absolute;
  left:1550px;
  top:422px;
  width:32px;
  height:15px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1560px;
  top:414px;
  width:100px;
  height:30px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:210px;
  top:258px;
  width:20px;
  height:15px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:155px;
  top:341px;
  width:20px;
  height:15px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:390px;
  top:258px;
  width:20px;
  height:15px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:577px;
  top:296px;
  width:10px;
  height:15px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:535px;
  top:415px;
  width:17px;
  height:15px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:813px;
  top:318px;
  width:20px;
  height:15px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:899px;
  top:262px;
  width:20px;
  height:15px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:900px;
  top:381px;
  width:20px;
  height:15px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
